# Analyzing fake news dataset

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/hate-speech-and-offensive-language-dataset/labeled_data.csv
/kaggle/input/india-headlines-news-dataset/india-news-headlines.csv
/kaggle/input/covid19-india-news-headlines-for-nlp/raw_data.csv
/kaggle/input/fake-news/submit.csv
/kaggle/input/fake-news/test.csv
/kaggle/input/fake-news/train.csv
/kaggle/input/source-based-news-classification/news_articles.csv

# Data - 1 - fake news competetion

In [2]:
data1 = pd.read_csv('../input/fake-news/train.csv',index_col = 0)
print(data1.shape)
data1.head()

(20800, 4)

,title,author,text,label
id,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
# it has some null values, but we are concerned about null values in text col
data1.isnull().sum()

title      558
author    1957
text        39
label        0
dtype: int64

In [9]:
#remove all the values where text is null
data1 = data1.dropna()
data1.shape

(18285, 5)

In [11]:
data1.reset_index(inplace = True)

In [6]:
# it has even share for both fake and true news
data1['label'].value_counts() / len(data1)

0    0.500313
1    0.499687
Name: label, dtype: float64

### what is the avg len of text

In [12]:
#its around 4552
np.mean([len(data1['text'][i]) for i in range(len(data1))])

4800.181843040744

In [13]:
#lets see the avegare of headlines
np.mean([len(data1['title'][i]) for i in range(len(data1))])

74.70232430954334

In [ ]:
data1.dropna(inplace = True)

In [14]:
data1.shape

(18285, 6)

In [15]:
#encoding the cat values
data1['label'] = np.where(data1['label'] == 0,'True','Fake')

In [16]:
#renaming the cols
data1 = data1[['title','text','label']]
data1.head()

,title,text,label
0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,Fake
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,True
2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",Fake
3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,Fake
4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,Fake

In [17]:
# getting all the information in one col
data1['text'] = data1['title']

In [18]:
# all the dataframe will be in the similar structure
data1 = data1[['text','label']]
print(data1.shape)
data1.head()

(18285, 2)

                                                text label
0  House Dem Aide: We Didn’t Even See Comey’s Let...  Fake
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...  True
2                  Why the Truth Might Get You Fired  Fake
3  15 Civilians Killed In Single US Airstrike Hav...  Fake
4  Iranian woman jailed for fictional unpublished...  Fake

# Data - 2 - India news headlines

In [19]:
data2 = pd.read_csv('../input/india-headlines-news-dataset/india-news-headlines.csv')
print(data2.shape)
data2.head()

(3297172, 3)

,publish_date,headline_category,headline_text
0,20010101,sports.wwe,win over cena satisfying but defeating underta...
1,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
2,20010102,unknown,Fissures in Hurriyat over Pak visit
3,20010102,unknown,America's unwanted heading for India?
4,20010102,unknown,For bigwigs; it is destination Goa

In [20]:
# selecting news from 2020
data2 = data2[data2['publish_date'] > 20200000]
print(data2.shape)
data2.head()

(90885, 3)

,publish_date,headline_category,headline_text
3206287,20200101,life-style.events,Happy New Year 2020: Images; Quotes; Wishes; M...
3206288,20200101,city.bhubaneswar,Bone-chilling cold wavecontinues to sweep state
3206289,20200101,city.hyderabad,T gained 163 sq km forest cover
3206290,20200101,city.hyderabad,Draft electoral rolls published
3206291,20200101,city.kochi,Invasive species increasing in Kerala's core f...

In [21]:
data2.reset_index(inplace=True)

In [22]:
data2['headline_category'].nunique()

256

In [23]:
cat = data2['headline_category'].unique()
print(cat)

['life-style.events' 'city.bhubaneswar' 'city.hyderabad' 'city.kochi'
 'city.chennai' 'city.goa' 'life-style.health-fitness' 'removed'
 'tv.news.hindi' 'life-style.spotlight' 'entertainment.hindi.bollywood'
 'life-style' 'tv.news.kannada' 'entertainment.kannada.movies.news'
 'life-style.health-fitness.health-news' 'entertainment.kannada.music'
 'entertainment.events.bangalore' 'city.bengaluru'
 'entertainment.bengali.movies.news' 'entertainment.events.lucknow'
 'city.lucknow' 'entertainment.tamil.music' 'city.patna' 'city.bareilly'
 'city.dehradun' 'city.agra' 'city.meerut' 'city.amritsar' 'city.ludhiana'
 'city.chandigarh' 'city.nagpur' 'city.visakhapatnam' 'city.shimla'
 'city.vijayawada' 'city.thiruvananthapuram' 'city.kolhapur' 'city.nashik'
 'city.aurangabad' 'city.delhi' 'city.kozhikode' 'city.bhopal'
 'city.ahmedabad' 'city.pune' 'city.kolkata' 'business.india-business'
 'city.rajkot' 'city.trichy' 'city.jaipur' 'city.coimbatore' 'city.surat'
 'auto.miscellaneous' 'city.puducherry' 'city.ajmer' 'city.noida'
 'city.madurai' 'city.vadodara' 'city.varanasi' 'city.ghaziabad'
 'city.allahabad' 'city.kanpur' 'city.gurgaon' 'india' 'city.mumbai'
 'citizen.stories' 'city.hubballi' 'city.indore' 'companies'
 'city.jodhpur' 'city.udaipur' 'astrology.horoscope'
 'life-style.fashion.buzz' 'life-style.health-fitness.fitness'
 'entertainment.events.varanasi' 'entertainment.kannada.movies'
 'entertainment.english.hollywood' 'entertainment.malayalam.movies.news'
 'life-style.beauty' 'life-style.health-fitness.de-stress'
 'entertainment.tamil.movies.news' 'entertainment.events.kolkata'
 'entertainment.telugu.movies.news' 'entertainment.events.hyderabad'
 'city.thane' 'city.mysuru' 'city.mangaluru'
 'entertainment.english.music.news' 'city.erode' 'city.salem' 'auto.cars'
 'sports.badminton' 'home.education' 'home.science'
 'sports.cricket.india-domestic.ranji-trophy' 'gadgets-news'
 'sports.pti-sports-feed' 'sports.more-sports.others' 'sports.football'
 'world.pakistan' 'city.amaravati' 'tv.news.bengali' 'sports.chess'
 'city.cuttack' 'tv.news.marathi' 'life-style.health-fitness.weight-loss'
 'entertainment.events.kanpur' 'life-style.food-news'
 'life-style.health-fitness.home-remedies' 'city.navimumbai'
 'sports.cricket.news' 'politics.politics-specials' 'sports.football.epl'
 'world.us' 'city.jammu' 'city.srinagar' 'sports.football.i-league'
 'entertainment.bengali.music' 'entertainment.marathi.movies.news'
 'entertainment.punjabi.music'
 'life-style.parenting.toddler-year-and-beyond'
 'entertainment.hindi.music.news' 'business' 'sports.boxing' 'city.raipur'
 'entertainment.punjabi.movies.news' 'world.south-asia'
 'life-style.fashion.celeb-style' 'tv.news.tamil' 'tv.news.telugu'
 'life-style.books.features' 'entertainment.kannada.theatre'
 'entertainment' 'life-style.relationships.love-sex'
 'entertainment.events.nashik' 'entertainment.events.kochi'
 'entertainment.gujarati.theatre'
 'entertainment.hindi.music.music-reviews' 'auto.reviews'
 'life-style.home-garden' 'life-style.health-fitness.diet'
 'life-style.fashion.style-guide' 'sports.off-the-field'
 'home.sunday-times' 'home.sunday-times.all-that-matters'
 'world.middle-east' 'world.china'
 'elections.assembly-elections.delhi-assembly-elections' 'politics.news'
 'trend-tracking' 'city.faridabad' 'entertainment.events.delhi'
 'entertainment.malayalam.music' 'business.international-business'
 'city.guwahati' 'life-style.relationships.pets' 'world.rest-of-world'
 'world.mad-mad-world' 'entertainment.events.indore' 'city.ranchi'
 'entertainment.events.chennai' 'auto.bikes' 'city.imphal' 'spotlight'
 'life-style.parenting.getting-pregnant' 'world.uk'
 'entertainment.hindi.music' 'tv.news.malayalam' 'world.europe'
 'life-style.fashion.designers' 'nri.community' 'sports.nba'
 'sports.tennis.australian-open' 'tv.news.english'
 'entertainment.telugu.music' 'entertainment.bhojpuri.movies.news'
 'sports.hockey' 'sports.cricket.india-in-new-zealand'
 'entertainment.gujarati.movies.news' 'sports.more-sports.shooting'
 'auto.launches' 'elections.assembly-elections.delhi'
 'entertainment.events.nagpur' 'tv.news'
 'life-style.relationships.soul-curry' 'city.jamshedpur'
 'entertainment.events.pune' 'sports.cricket.ipl'
 'life-style.relationships.work' 'entertainment.telugu.movies'
 'sports.tennis' 'entertainment.telugu.movies.did-you-know'
 'entertainment.hindi' 'city.shillong' 'entertainment.events.mumbai'
 'entertainment.events.noida' 'entertainment.english.music'
 'home.environment.flora-fauna' 'entertainment.events'
 'entertainment.hindi.theatre' 'life-style.parenting.teen'
 'sports.more-sports' 'home.environment.global-warming'
 'sports.cricket.australia-in-south-africa' 'sports.more-sports.athletics'
 'sports.football.indian-super-league'
 'world.us.us-presidential-elections'
 'sports.cricket.icc-world-test-championship' 'home.environment'
 'times-fact-check.news' 'sports.racing' 'sports.golf'
 'life-style.relationships' 'entertainment.events.kolhapur'
 'entertainment.events.gurgaon' 'life-style.parenting.ask-the-expert'
 'life-style.parenting.pregnancy' 'city.itanagar'
 'entertainment.bengali.movies.did-you-know' 'sports.tokyo-olympics'
 'sports.football.champions-league' 'sports.cricket.south-africa-in-india'
 'entertainment.events.goa' 'entertainment.events.bhopal'
 'home.environment.pollution' 'entertainment.hindi.music.music-events'
 'life-style.books.reviews' 'life-style.coronavirus' 'city.agartala'
 'life-style.fashion' 'city' 'life-style.relationships.ask-the-expert'
 'sports.wwe' 'city.kohima' 'entertainment.gujarati.music'
 'life-style.books.interviews' 'life-style.parenting.moments' 'politics'
 'entertainment.gujarati.movies' 'entertainment.events.jaipur'
 'elections.assembly-elections.goa.news' 'city.gaya'
 'entertainment.marathi.theatre' 'entertainment.marathi.music'
 'entertainment.bengali.theatre' 'world.us.us-and-world' 'world'
 'life-style.travel' 'tv.trade-news.bengali'
 'entertainment.events.bhubaneswar' 'entertainment.events.chandigarh'
 'most-searched-products.todays-deals.amazon'
 'sports.cricket.west-indies-in-england' 'viral-news'
 'most-searched-products.health-and-fitness.health-care' 'sports'
 'entertainment.events.raipur' 'first-look']

In [24]:
# selecting news only from city category
def func1(x):
    if 'city' in x:
        return x
    return np.nan    

data2['headline_category'] = list(map(func1,data2['headline_category']))

In [25]:
data2.isnull().sum()

index                    0
publish_date             0
headline_category    11711
headline_text            0
dtype: int64

In [26]:
data2['headline_category'].unique()

array([nan, 'city.bhubaneswar', 'city.hyderabad', 'city.kochi',
       'city.chennai', 'city.goa', 'city.bengaluru', 'city.lucknow',
       'city.patna', 'city.bareilly', 'city.dehradun', 'city.agra',
       'city.meerut', 'city.amritsar', 'city.ludhiana', 'city.chandigarh',
       'city.nagpur', 'city.visakhapatnam', 'city.shimla',
       'city.vijayawada', 'city.thiruvananthapuram', 'city.kolhapur',
       'city.nashik', 'city.aurangabad', 'city.delhi', 'city.kozhikode',
       'city.bhopal', 'city.ahmedabad', 'city.pune', 'city.kolkata',
       'city.rajkot', 'city.trichy', 'city.jaipur', 'city.coimbatore',
       'city.surat', 'city.puducherry', 'city.ajmer', 'city.noida',
       'city.madurai', 'city.vadodara', 'city.varanasi', 'city.ghaziabad',
       'city.allahabad', 'city.kanpur', 'city.gurgaon', 'city.mumbai',
       'city.hubballi', 'city.indore', 'city.jodhpur', 'city.udaipur',
       'city.thane', 'city.mysuru', 'city.mangaluru', 'city.erode',
       'city.salem', 'city.amaravati', 'city.cuttack', 'city.navimumbai',
       'city.jammu', 'city.srinagar', 'city.raipur', 'city.faridabad',
       'city.guwahati', 'city.ranchi', 'city.imphal', 'city.jamshedpur',
       'city.shillong', 'city.itanagar', 'city.agartala', 'city',
       'city.kohima', 'city.gaya'], dtype=object)

In [27]:
data2 = data2.dropna()

In [28]:
data2.reset_index(inplace = True)

In [29]:
#avg word count
np.max([len(data2['headline_text'][i]) for i in range(len(data2))])

130

In [30]:
data2['label'] = 'True'
data2 = data2[['headline_text','label']]
print(data2.shape)
data2.head()

(79174, 2)

                                       headline_text label
0    Bone-chilling cold wavecontinues to sweep state  True
1                    T gained 163 sq km forest cover  True
2                    Draft electoral rolls published  True
3  Invasive species increasing in Kerala's core f...  True
4                Onion price in Hyd dips to Rs 90/kg  True

In [31]:
data2.columns = ['text','label']
print(data2.shape)
data2.head()

(79174, 2)

                                                text label
0    Bone-chilling cold wavecontinues to sweep state  True
1                    T gained 163 sq km forest cover  True
2                    Draft electoral rolls published  True
3  Invasive species increasing in Kerala's core f...  True
4                Onion price in Hyd dips to Rs 90/kg  True

In [32]:
# selecting 5000 random rows
import random
random_sample = random.sample(list(data2.index),5000)
data2 = data2.iloc[random_sample]
print(data2.shape)
data2.head()

(5000, 2)

                                                    text label
55569     Akhilesh Yadav slams government on labour laws  True
76812  Goa: Globe-trotting seafarer turns fish seller...  True
23000  Bapatla MP Nandigam blames Naidu; Lokesh for o...  True
74982  People aged over 45 make up 79% of casualties ...  True
7996                 Students' group from AU backs Jagan  True

In [33]:
data2.reset_index(inplace=True,drop = True)

In [34]:
data2.head()

                                                text label
0     Akhilesh Yadav slams government on labour laws  True
1  Goa: Globe-trotting seafarer turns fish seller...  True
2  Bapatla MP Nandigam blames Naidu; Lokesh for o...  True
3  People aged over 45 make up 79% of casualties ...  True
4                Students' group from AU backs Jagan  True

# data 3 - hate speech

In [43]:
data3 = pd.read_csv('../input/hate-speech-and-offensive-language-dataset/labeled_data.csv',index_col = 0)
print(data3.shape)
data3.head()

(24783, 6)

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [44]:
data3.reset_index(inplace = True)

In [45]:
np.mean([len(data3['tweet'][i]) for i in range(len(data3))])

85.43606504458701

In [46]:
data3['label'] = 'Fake'
data3 = data3[['tweet','label']]
data3.head()

                                               tweet label
0  !!! RT @mayasolovely: As a woman you shouldn't...  Fake
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...  Fake
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...  Fake
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...  Fake
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...  Fake

In [47]:
#selecting 5000 random rows
random_sample = random.sample(list(data3.index),5000)
data3 = data3.iloc[random_sample]
print(data3.shape)
data3.head()

(5000, 2)

                                                   tweet label
20726                      She fuckin wit a young niggah  Fake
20635  School\nSchoo\nScho\nSch\nSc\nS\nSt\nSta\nStay...  Fake
24111  its either a gun, a sandwich, or both. details...  Fake
750    #PDPLive is on November 10th. Get your early b...  Fake
4738   @SportsGrind @RudyJay711 that was my mock done...  Fake

In [48]:
data3.columns = ['text','label']
data3.head()

                                                    text label
20726                      She fuckin wit a young niggah  Fake
20635  School\nSchoo\nScho\nSch\nSc\nS\nSt\nSta\nStay...  Fake
24111  its either a gun, a sandwich, or both. details...  Fake
750    #PDPLive is on November 10th. Get your early b...  Fake
4738   @SportsGrind @RudyJay711 that was my mock done...  Fake

# Data - 4 -Covid 19 India News Headlines

In [59]:
data4 = pd.read_csv('../input/covid19-india-news-headlines-for-nlp/raw_data.csv')
print(data4.shape)
data4.head()

(4072, 8)

,Sno,Date,Headline,Covid,Sentiment,Description,Image,Source
0,0,2020-04-29,"Coronavirus cases reach 2,438 in Rajasthan; 81...",1,0,Rajasthan on Wednesday reported 74 new coronav...,https://static.inshorts.com/inshorts/images/v1...,http://www.rajswasthya.nic.in/?utm_campaign=fu...
1,1,2020-04-29,"Coronavirus cases in Delhi surge to 3,439 afte...",1,0,The total number of coronavirus cases in Delhi...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/shemin_joy/status/12555489...
2,2,2020-04-30,"Anguished, I'll always recall our interactions...",0,1,"Condoling the demise of actor Rishi Kapoor, PM...",https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/narendramodi/status/125573...
3,3,2020-04-30,It's a terrible week for Indian cinema: Rahul ...,0,0,Congress leader Rahul Gandhi condoled Rishi Ka...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/politicians-mo...
4,4,2020-04-30,Delhi Police perform 'parikrama' of AIIMS to t...,1,1,As a sign of respect for healthcare profession...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/delhi-police-p...

In [60]:
data4.isnull().sum()

Sno            0
Date           0
Headline       0
Covid          0
Sentiment      0
Description    0
Image          0
Source         0
dtype: int64

In [61]:
data4 = data4[['Headline','Description']]
data4['label'] = True
data4.shape

(4072, 3)

In [62]:
data4['text'] = data4['Headline'] 
data4 = data4[['text','label']]

In [63]:
print(data4.shape)
data4.head()

(4072, 2)

                                                text  label
0  Coronavirus cases reach 2,438 in Rajasthan; 81...   True
1  Coronavirus cases in Delhi surge to 3,439 afte...   True
2  Anguished, I'll always recall our interactions...   True
3  It's a terrible week for Indian cinema: Rahul ...   True
4  Delhi Police perform 'parikrama' of AIIMS to t...   True

In [65]:
np.mean([len(data4['text'][i]) for i in range(len(data4))])

71.30992141453831

# Data 5 - Source based fake news

In [66]:
data5 = pd.read_csv('../input/source-based-news-classification/news_articles.csv')
print(data5.shape)
data5.head()

(2096, 12)

,author,published,title,text,language,site_url,main_img_url,type,label,title_without_stopwords,text_without_stopwords,hasImage
0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,muslims busted they stole millions in govt ben...,print they should pay all the back all the mon...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,muslims busted stole millions govt benefits,print pay back money plus interest entire fami...,1.0
1,reasoning with facts,2016-10-29T08:47:11.259+03:00,re why did attorney general loretta lynch plea...,why did attorney general loretta lynch plead t...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,attorney general loretta lynch plead fifth,attorney general loretta lynch plead fifth bar...,1.0
2,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,breaking weiner cooperating with fbi on hillar...,red state \nfox news sunday reported this mor...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,breaking weiner cooperating fbi hillary email ...,red state fox news sunday reported morning ant...,1.0
3,Fed Up,2016-11-01T05:22:00.000+02:00,pin drop speech by father of daughter kidnappe...,email kayla mueller was a prisoner and torture...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,pin drop speech father daughter kidnapped kill...,email kayla mueller prisoner tortured isis cha...,1.0
4,Fed Up,2016-11-01T21:56:00.000+02:00,fantastic trumps point plan to reform healthc...,email healthcare reform to make america great ...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,fantastic trumps point plan reform healthcare ...,email healthcare reform make america great sin...,1.0

In [67]:
data5.dropna(inplace = True)

In [68]:
data5['language'].value_counts()

english    1967
german       72
ignore        3
french        2
spanish       1
Name: language, dtype: int64

In [69]:
data5 = data5[data5['language'] == 'english']

In [70]:
data5.shape

(1967, 12)

In [71]:
data5 = data5[['title_without_stopwords','text_without_stopwords','label']]

In [72]:
data5.head()

,title_without_stopwords,text_without_stopwords,label
0,muslims busted stole millions govt benefits,print pay back money plus interest entire fami...,Real
1,attorney general loretta lynch plead fifth,attorney general loretta lynch plead fifth bar...,Real
2,breaking weiner cooperating fbi hillary email ...,red state fox news sunday reported morning ant...,Real
3,pin drop speech father daughter kidnapped kill...,email kayla mueller prisoner tortured isis cha...,Real
4,fantastic trumps point plan reform healthcare ...,email healthcare reform make america great sin...,Real

In [73]:
data5['text'] = data5['title_without_stopwords'] 
data5 = data5[['text','label']]

In [74]:
data5.head()

                                                text label
0        muslims busted stole millions govt benefits  Real
1         attorney general loretta lynch plead fifth  Real
2  breaking weiner cooperating fbi hillary email ...  Real
3  pin drop speech father daughter kidnapped kill...  Real
4  fantastic trumps point plan reform healthcare ...  Real

In [79]:
np.mean([len(data5['text'][i]) for i in range(len(data5))])

50.671581087951196

# Adding all the data to get a final data

In [80]:
data_final = pd.concat([data1,data2,data3,data4,data5])

In [81]:
data_final.shape

(34324, 2)

In [82]:
data_final.head()

                                                text label
0  House Dem Aide: We Didn’t Even See Comey’s Let...  Fake
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...  True
2                  Why the Truth Might Get You Fired  Fake
3  15 Civilians Killed In Single US Airstrike Hav...  Fake
4  Iranian woman jailed for fictional unpublished...  Fake

In [83]:
data_final.isnull().sum()

text     0
label    0
dtype: int64

# Final data

In [ ]:
data_final.reset_index(inplace = True,drop=True)
data_final.to_csv('data.csv')

In [ ]:
data_final['label'].unique()

In [ ]:
data_final['label'].value_counts() / len(data_final)